// VARIABLES
$base: #43e8b3;
$bg: #e5e5e5;
$lighten: lighten($base, 20);
$complement: saturate(adjust-color($base, $hue:180), 40);
$darken: darken($complement, 20);

/* ELEMENT STYLES */
body {
  background-color: $bg;
  font-size: 1em;
  p {
    line-height: 2em;
  }
}

h1 {
  font-family: monospace;
}

button {
  color: $base;
  background: $complement;
  font-family: monospace;
}

button:hover {
  background: $base;
  color: $bg;
}

a {
  text-decoration: none;
  color: $base;
}

a:hover {
  color: $bg;
}

img {
  filter: grayscale(100%);
  border: 2px solid $base;
}

img:hover { opacity: 0.7; }

.thumbnail {
  background: $complement;
}


/* CUSTOM CLASSES */
#about-header {
  padding-top: 2.5rem;
}

#main-content div.skills div {
  .green:hover {
    background: $base;
  }

  .yellow:hover {
    background: $lighten;
  }

  .orange:hover {
    background: $complement;
  }

  .red:hover {
    background: $darken;
  }
}

#main-content {
  max-width: 80%;
  background-color: #fff;
  div.row {
    padding: 1.5rem 3rem;
  }
}

nav {
  justify-content: flex-end;
  .nav {
    justify-content: flex-end;
  }
}

#about {
  background-color: #fff;
  justify-content: space-between;
  .about-text {
    margin-top: 3rem;
  }
}

#portfolio {
  background-color: #677077;
  color: $bg;
  div p {
    margin-top: 1rem;
  }
}

#contact {
  background-color: #fff;
  justify-content: space-between;
}

#portfolio, #contact, #about {
  h1 {
    padding: 2rem 0;
    line-height: 2rem;
  }
}

#about-section {
  background-color: #677077;
  color: $bg;
  padding: 3rem;
}

#msg {
  padding-bottom: 150px;
}

.submit {
  background-color: $base;
  color: #fff;
  padding: 0.5rem;
}

.submit:hover {
  background-color: $bg;
  color: #fff;
}

#footer {
  background-color: black;
  color: $bg;
}

.blue {
  color: $base;
  font-family: monospace;
}

a.fa,
p.fa {
  font-size: 2em;
}

h3 { font-size: 1.25em; }

#main-content div.skills {
  padding: 0;
  font-family: monospace;
  div {
    margin-bottom: 0.5rem;
    h3 {
      background: $bg;
      padding: 0.5rem;
      line-height: 2rem;
    }
  }
}

.profile {
  width: 404px;
}

/* BOOTSTRAP CLASSES  */
.navbar {
  background-color: $complement;
  clear: both;
}

.nav-container {
  max-width: 1000px;
  font-family: monospace;
}

.form-group input {
  border: none;
  line-height: 2;
  font-size: 1.25em;
}

.form-group .form-control {
  border-bottom: 1px solid black;
  border-radius: 0;
}

/* MEDIA QUERIES  */
@media (max-width: 991px) {
  #main-content {
    max-width: 100%;
    div.row {
      padding: 1.5rem 1rem;
    }
  }
  #about {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  div.profile {
    margin: 3rem 0 0 0;
    padding: 0;
    img {
    border: none;
    }
  }
  hr {
    display: none;
  }
  .skills {
    margin-top: 2rem;
  }
}

@media (max-width: 767px)
{
  div.navbar.fixed-top {padding: 0;}
  .sm-ctr {
    text-align: center;
    nav {
      justify-content: center;
    }
  }

  button.nav-item {
    padding: 2px;
  }

  .navbar h1 {
    font-size: 1.5em;
    margin-top: 1rem;
  }

  .skills div {
    font-size: 1.25rem;
  }

  #main-content.container {
    padding-left: 0;
    padding-right: 0;
    div.row {
      margin-bottom: 0;
      justify-content: space-around;
      h1 {
        text-align: center;
        margin-top: 0;
        padding: 1.25rem 0;
        line-height: 1.25rem;
      }
    }
  }

  div#about.row {
    padding-left: 0;
    padding-right: 0;
    div.about-text {
      margin-top: 0;
    }
  }
}

@media (max-width: 595px) {
  #about-section {
    padding: 2rem 0;
    div {
      margin: 1rem;
    }
  }
}
