// Color pallette
$base: #43e8b3;
$bg: #e5e5e5;
$lighten: lighten($base, 20);
$complement: saturate(adjust-color($base, $hue:180), 40);
$darken: darken($complement, 20);

//skills
$dangerous:   100%;
$proficient:   90%;
$confident:    80%;
$vcomfortable: 70%;
$comfortable:  60%;
$workinglevel: 50%;
$morefamiliar: 40%;
$familiar:     30%;
$dabbled:      20%;
$heardofit:    10%;

$html:    $vcomfortable;
$css:     $vcomfortable;
$bs:      $workinglevel;
$sass:    $comfortable;
$js:      $vcomfortable;
$jquery:  $workinglevel;
$php:     $familiar;
$ruby:    $proficient;
$git:     $confident;

/* ELEMENT STYLES */
body {
  font-family: monospace;
  background-color: $bg;
  font-size: 1.125em;
  p { line-height: 2em; }
  h1 { font-family: monospace; }
  a {
    text-decoration: none;
    color: $base;
  }
  a:hover { color: $bg; }
  button {
    color: $base;
    background: $complement;
    font-family: monospace;
  }
  button:hover {
    background: $base;
    color: $bg;
  }
  .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  img {
    filter: grayscale(100%);
    opacity: 1;
    transition: all 1s ease;
    -webkit-transition: all 1 ease;
  }
  img:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }
  button, input, optgroup, select, textarea { font-family: monospace; }
}

/* CUSTOM CLASSES */

span.flash {
  color: #fff;
  width: 1rem;
  height: 1rem;
}

.background-black {
  background: #000;
  color: #000 !important;
}

.thumbnail {
  background-color: $complement;
}

#about-header { padding-top: 2.5rem; }

#main-content {
  max-width: 80%;
  background-color: #fff;
  div.row { padding: 1.5rem 3rem 2.5rem 3rem; }
  div.skills div {
    .skill:hover {
      background-color: $complement;
      color: #fff;
    }
    .skill-html:hover   { width: $html; }
    .skill-css:hover    { width: $css; }
    .skill-bs:hover     { width: $bs; }
    .skill-sass:hover   { width: $sass; }
    .skill-js:hover     { width: $js; }
    .skill-jquery:hover { width: $jquery; }
    .skill-php:hover    { width: $php; }
    .skill-ruby:hover   { width: $ruby; }
    .skill-git:hover    { width: $git; }
    h3.skill {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.5s ease, color 0.5s ease, width 1s ease;
      -webkit-transition: background-color 0.5s ease, color 0.5s ease, width 1s ease;
      i {
        color: $base;
        margin-left: 0.5rem;
      }
    }
  }
}

nav {
  justify-content: flex-end;
  .nav { justify-content: flex-end; }
}

#about {
  background-color: #fff;
  justify-content: space-between;
  .about-text { margin-top: 3rem; }
}

#portfolio {
  background-color: #677077;
  color: $bg;
  div p { margin-top: 1rem; }
}

#contact {
  background-color: #fff;
  justify-content: space-between;
}

#portfolio, #contact, #about {
  h1 { line-height: 2rem; }
  p { margin-bottom: 2.5rem; }
}

#contact, #about {
  h1 { padding: 2rem 0; }
}

#portfolio {
  h1 { padding: 2rem 0 0 0; }
}

#about-section {
  background-color: #677077;
  color: $bg;
  padding: 3rem;
}

#msg {
  padding-bottom: 150px;
}

.submit {
  background-color: $base;
  color: #fff;
  padding: 0.5rem;
}

.submit:hover {
  background-color: $bg;
  color: #fff;
}

#footer {
  background-color: black;
  color: $bg;
}

.blue {
  color: $base;
  font-family: monospace;
}

a.fa,
p.fa { font-size: 2em; }

h3 { font-size: 1.25em; }

#main-content div.skills {
  padding: 0;
  font-family: monospace;
  div {
    margin-bottom: 0.5rem;
    h3 {
      background: $bg;
      padding: 0.5rem;
      line-height: 2rem;
    }
  }
}

.profile {
  width: 400px;
  padding: 2rem;
  margin-top: 3rem;
  img.profile-pic { border: none; }
}

/* BOOTSTRAP CLASSES  */
.navbar {
  background-color: $complement;
  clear: both;
}

.nav-container {
  max-width: 1000px;
  font-family: monospace;
}

.form-group input {
  border: none;
  line-height: 2;
  font-size: 1.25em;
}

.form-group .form-control {
  border-bottom: 1px solid black;
  border-radius: 0;
}

/* MEDIA QUERIES  */
@media (max-width: 991px) {
  #main-content {
    max-width: 100%;
    div.row {
      padding: 1.5rem 1rem;
    }
  }
  #about {
    justify-content: center;
    margin: 0;
    padding: 0;
    div div {
      .skill-level-text { display: none; }
    }
  }
  div.profile {
    margin: 5rem 0 0 0;
    padding: 0;
  }
  hr { display: none; }
  .skills { margin-top: 2rem; }
}

@media (max-width: 767px) {
  #contact p { text-align: center; }
  div.navbar.fixed-top { padding: 0; }
  .sm-ctr {
    text-align: center;
    nav { justify-content: center; }
  }
  button.nav-item { padding: 2px; }
  .navbar h1 {
    font-size: 1.5em;
    margin-top: 1rem;
  }
  .skills div { font-size: 1.25rem; }
  #main-content.container {
    padding-left: 0;
    padding-right: 0;
    div.row {
      margin-bottom: 0;
      justify-content: space-around;
      h1 {
        text-align: center;
        margin-top: 0;
        padding: 1.25rem 0;
        line-height: 1.25rem;
      }
    }
  }
  div#about.row {
    padding-left: 0;
    padding-right: 0;
    div.about-text { margin-top: 0; }
  }
}

@media (max-width: 595px) {
  #about-section {
    padding: 2rem 0;
    div {  margin: 1rem; }
  }
}
