// VARIABLES
$base: #43e8b3;
$bg: #e5e5e5;
$lighten: lighten($base, 20);
$complement: saturate(adjust-color($base, $hue:180), 40);
$darken: darken($complement, 20);

/* ELEMENT STYLES */
body {
  background-color: $bg;
}

button {
  color: $base;
  background: $complement;
}

button:hover {
  background: $base;
  color: $bg;
}

a {
  text-decoration: none;
  color: $base;
}

a:hover {
  color: $bg;
}

img {
  filter: grayscale(100%);
  border: 2px solid $base;
}

img {
  background: $complement;
}


/* CUSTOM CLASSES */

#main-content {
  max-width: 1000px;
  background-color: #fff;
  div.row {
    padding: 3rem;
  }
}

nav {
  justify-content: flex-end;
  .nav {
    justify-content: flex-end;
  }
}

#about {
  background-color: #fff;
  justify-content: space-between;
}

#portfolio {
  background-color: #677077;
  color: $bg;
  div p {
    margin-top: 1rem;
  }
}

#contact {
  background-color: #fff;
}

#about-section {
  background-color: #677077;
  color: $bg;
  padding: 3rem;
}

#msg {
  padding-bottom: 150px;
}

#submit {
  background-color: $base;
  color: #fff;
  padding: 0.5rem;
}

#submit:hover {
  background-color: $bg;
  color: #fff;
}

#footer {
  background-color: black;
  color: $bg;
}

.blue {
  color: $base;
}

a.fa,
p.fa {
  font-size: 2em;
}

#main-content div.skills {
  padding: 0;
  div {
    margin-bottom: 0.5rem;
    h3 {
      background: $bg;
      padding: 0.5rem;
      line-height: 2rem;
    }
  }
}

.profile {
  width: 404px;
}

/* BOOTSTRAP CLASSES  */
.navbar {
  background-color: $complement;
  clear: both;
}

.nav-container {
  max-width: 1000px;
}

.form-group input {
  border: none;
  line-height: 2;
  font-size: 1.5em;
}

.form-group .form-control {
  border-bottom: 1px solid black;
  border-radius: 0;
}

/* MEDIA QUERIES  */
@media (max-width: 991px) {
  #about {
    justify-content: center;
  }
  .profile {
    margin-top: 5rem;
  }
  hr {
    display: none;
  }
  .skills {
    margin-top: 2rem;
  }
}

@media (max-width: 767px)
{
  .sm-ctr {
    text-align: center;
    nav {
      justify-content: center;
    }
  }

  button.nav-item {
    padding: 2px;
  }

  .navbar h1 {
    font-size: 1.5em;
    margin-top: 1rem;
  }

  .skills div {
    font-size: 1.5rem;
  }

  #main-content {
    div.row {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 0;
      justify-content: space-around;
      h1 {
        padding-top: 2rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 595px) {
  #about-section {
    padding: 2rem 0 2rem 0;
    div {
      margin: 1rem;
    }
  }
}
